<a href="./#mainContent" class="skip-link" (click)="skipToMain($event)">
  Skip to main content
</a>
<bp-header
  product="product"
  [hasContextSelector]="false"
>
  <ul nav-major class="navbar-nav nav-major">
    <li class="nav-item">
      <bp-action
        text="Primary Section"
        classes="nav-link active"
        routerLink="./primary-section"
      ></bp-action>
    </li>
  </ul>
</bp-header>
<div class="app-body">
  <bp-collapsible-panel *ngIf="navSecondary">
    <bp-nav-secondary
      panel-content
      [title]="navSecondary.title"
      [items]="navSecondary.items"
    ></bp-nav-secondary>
  </bp-collapsible-panel>
  <main id="mainContent" class="app-main">
    <ng-content></ng-content>
  </main>
</div>